.logo img {
  width: 300px;
  height: 200px;
  border-radius: 25px;
}


body .logo h3 {
  color: red;
}


body {
  background-color: #545C6F;
}


.slogan {
    font-size: 12;
    text-align: center;
}


.version {
  font-size: 12;
  color: red;
}


body .topnav {
  border: solid lightgray 20px;
  border-radius: 25px;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: darkgray;
}


body .heading {
  border: solid lightgray 20px;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: darkgray;
  font-size: 12;
  border-radius: 25px;
}


body .main {
  border: solid lightgray 20px;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: darkgray;
  border-radius: 25px;
  text-align: center;
}

body .main h2 {
  color: red;
}

.waiting_list_form input {
  width: 250px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
}


a:hover {
  color: blue;
}


footer {
  font-size: 12;
  border: solid lightgray 20px;
  border-radius: 25px;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: darkgray;
  text-align: center;
}
