.bg-custom {
  background: rgb(2,0,36)
}

.bg-other {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 75%, rgba(16,26,173,1) 100%);
}

.address {
  font-size: 12;
}

blink {
  animation: 2s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
