
.bg-custom {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 75%, rgba(16,26,173,1) 100%);
}

.glow {
  border-radius: 14px;
  margin: 140px;
  padding: 20px;
  box-shadow: rgba(76, 147, 209, 0.8) 0 0 90px 33px;
  background-color: rgba(0, 0, 0, 0.8);
}

.address {
  font-size: 15;
}

.blink {
  animation: 2s linear infinite condemned_blink_effect;
  font-size: 15;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
