.logo img {
  width: 300px;
  height: 200px;
  border-radius: 25px;
}


body .logo h3 {
  color: red;
}


body {
  color: lime;
}


body .slogan {
    font-size: 12;
    text-align: center;
    color: lime;
}


.version {
  font-size: 12;
  color: red;
}


body .topnav {
  border-radius: 25px;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 12;
}


body .heading {
  border: solid #29c382 10px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #30393c;
  font-size: 12;
  border-radius: 25px;
  opacity: .75;
  padding: 20px;
  color: lime;
}


body .heading h2 {
  color: lime;
}


body .main {
  padding:20px;
  border: solid #29c382 10px;
  background-color: #30393c;
  border-radius: 25px;
  text-align: center;
  opacity: .75;
}


body .main h2 {
  color: red;
}


.waiting_list_form input {
  width: 250px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
}


a:hover {
  color: red;
}
